In [1]:
# loading in modules
import sqlite3
import pandas as pd
import sqlalchemy

In [2]:
# creating file path
# modify the path if you cannot run this file
dbfile = '/Users/82545/Desktop/newest/Code_Max (2)/mmc639_Final_Exam/sqlite/final.db'

# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

In [3]:
# creating cursor
cur = con.cursor()

# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
# here is you table list
print(table_list)

df = pd.read_sql_query('SELECT * FROM AUDUSD_agg', con)

# Be sure to close the connection
con.close()

[('AUDUSD_agg',), ('GBPEUR_agg',), ('USDCAD_agg',), ('USDJPY_agg',), ('USDMXN_agg',), ('EURUSD_agg',), ('USDCNY_agg',), ('USDCZK_agg',), ('USDPLN_agg',), ('USDINR_agg',), ('AUDUSD_raw',), ('GBPEUR_raw',), ('USDCAD_raw',), ('USDJPY_raw',), ('USDMXN_raw',), ('EURUSD_raw',), ('USDCNY_raw',), ('USDCZK_raw',), ('USDPLN_raw',), ('USDINR_raw',)]

In [4]:
con = sqlite3.connect(dbfile)
cur = con.cursor()
df = pd.read_sql_query('SELECT * FROM AUDUSD_raw',con)
con.close()

In [5]:
# print raw data of AUDUSD
df

                ticktime    fxrate           inserttime
0    2022-11-18 11:12:41  0.668915  2022-11-18 11:12:43
1    2022-11-18 11:12:42  0.668915  2022-11-18 11:12:44
2    2022-11-18 11:12:44  0.668905  2022-11-18 11:12:46
3    2022-11-18 11:12:45  0.668895  2022-11-18 11:12:47
4    2022-11-18 11:12:46  0.668885  2022-11-18 11:12:48
..                   ...       ...                  ...
124  2022-11-18 11:16:02  1.494578  2022-11-18 11:16:04
125  2022-11-18 11:16:04  1.494600  2022-11-18 11:16:06
126  2022-11-18 11:16:04  1.494690  2022-11-18 11:16:07
127  2022-11-18 11:16:06  0.669005  2022-11-18 11:16:09
128  2022-11-18 11:16:09  0.668995  2022-11-18 11:16:11

[129 rows x 3 columns]

In [6]:
con1 = sqlite3.connect(dbfile)
cur1 = con1.cursor()
df1 = pd.read_sql_query('SELECT * FROM AUDUSD_agg',con1)
con1.close()

In [7]:
# Print aggregate data of AUDUSD
df1

,inserttime,avgfxrate,stdfxrate,maxfxrate,minfxrate,volfxrate,upperband,lowerband,n,FD
0,2022-11-18 00:42:09,0.716032,0.188356,1.492081,0.670100,0.821981,1.332517,0.099546,41,0.001995
1,2022-11-18 00:50:38,0.743532,0.233854,1.491500,0.670400,0.821100,1.359357,0.127707,55,0.002071
2,2022-11-18 00:58:35,0.748123,0.240268,1.491547,0.670400,0.821147,1.363983,0.132263,62,0.002084
3,2022-11-18 01:07:27,0.711881,0.178909,1.490980,0.670600,0.820380,1.327166,0.096597,37,0.001983
4,2022-11-18 01:15:24,0.731992,0.216614,1.492315,0.670100,0.822215,1.348653,0.115330,43,0.002039
...,...,...,...,...,...,...,...,...,...,...
72,2022-11-18 10:33:08,0.734792,0.225904,1.497914,0.667500,0.830414,1.357602,0.111981,55,0.002047
73,2022-11-18 10:42:56,0.737700,0.228719,1.496010,0.668405,0.827605,1.358404,0.116996,53,0.002055
74,2022-11-18 10:52:48,0.746967,0.241784,1.495450,0.668575,0.826875,1.367123,0.126810,67,0.002081
75,2022-11-18 11:02:34,0.742504,0.235179,1.495048,0.668835,0.826213,1.362163,0.122844,63,0.002068
76,2022-11-18 11:12:39,0.749156,0.245161,1.495562,0.668600,0.826962,1.369377,0.128934,69,0.002087